@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model SmtpMailDam.Website.Models.MailboxViewModel

<div>
    <h4>
        <a asp-action="Index" class="px-3"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" /></svg></a>&nbsp;
        Mailbox: @Model.Name
    </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
            @Html.InfoBox("Name of the mailbox.")
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImapEnabled)
            @Html.InfoBox("Enable the IMAP connection for duplicating the mail to the IMAP host.")
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.ImapEnabled)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
            @Html.InfoBox("Username for the SmtpMailDam SMTP server that needs to be configurated in the external system.")
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImapHost)
            @Html.InfoBox("Host of the IMAP server.")
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.ImapHost)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
            @Html.InfoBox("Password for the SmtpMailDam SMTP server that needs to be configurated in the external system.")
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImapPort)
            @Html.InfoBox("Port of the IMAP server. Typically this is 993 for IMAPS and 110 for IMAP.")
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.ImapPort)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SmtpHost)
            @Html.InfoBox("SMTP host of SmtpMailDam that needs to be configured in the external system.")
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.SmtpHost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImapSSLEnabled)
            @Html.InfoBox("SSL is required for connecting to the IMAP server.")
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.ImapSSLEnabled)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SmtpPort)
            @Html.InfoBox("SMTP port of SmtpMailDam that needs to be configured in the external system.")
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.SmtpPort)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImapUsername)
            @Html.InfoBox("Username for connecting to the IMAP server.")
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.ImapUsername)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Passthrough)
            @Html.InfoBox("When enabled it will ONLY passthrough the message to the IMAP server. The mail stored will NOT be stored within SmtpMailDam.")
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Passthrough)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImapPassword)
            @Html.InfoBox("Password for connecting to the IMAP server.")
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.ImapPassword)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MailRetention)
            @Html.InfoBox("The number of days to keep the mails in this mailbox. The mails on the IMAP server are not deleted.")
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.MailRetention)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MailboxId" asp-route-origin="Details" class="btn btn-primary px-3" title="Edit"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">    <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" /></svg></a>
</div>

<div>
    <br />
</div>
<div>
    <h4>Mails</h4>
    <a href="#refreshanchor"></a>
    <p><a asp-action="ClearMails" asp-route-id="@Model.MailboxId" class="btn btn-primary px-3" title="Clear mails"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-folder-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">    <path fill-rule="evenodd" d="M9.828 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91H9v1H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181L15.546 8H14.54l.265-2.91A1 1 0 0 0 13.81 4H9.828zm-2.95-1.707L7.587 3H2.19c-.24 0-.47.042-.684.12L1.5 2.98a1 1 0 0 1 1-.98h3.672a1 1 0 0 1 .707.293z" />    <path fill-rule="evenodd" d="M11.146 10.146a.5.5 0 0 1 .708 0L13 11.293l1.146-1.147a.5.5 0 0 1 .708.708L13.707 12l1.147 1.146a.5.5 0 0 1-.708.708L13 12.707l-1.146 1.147a.5.5 0 0 1-.708-.708L12.293 12l-1.147-1.146a.5.5 0 0 1 0-.708z" /></svg></a> |
    <a asp-action="Refresh" asp-route-id="@Model.MailboxId" asp-fragment="refreshanchor" class="btn btn-primary px-3" title="Refresh"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-repeat" fill="currentColor" xmlns="http://www.w3.org/2000/svg">    <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z" />    <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" /></svg></a> |
    <a asp-action="MarkAllEmailsAsRead" asp-route-id="@Model.MailboxId" class="btn btn-primary px-3" title="Mark all as read"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-mailbox" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 4a3 3 0 0 0-3 3v6h6V7a3 3 0 0 0-3-3zm0-1h8a4 4 0 0 1 4 4v6a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7a4 4 0 0 1 4-4zm2.646 1A3.99 3.99 0 0 1 8 7v6h7V7a3 3 0 0 0-3-3H6.646z" /><path fill-rule="evenodd" d="M11.793 8.5H9v-1h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.354-.146l-.853-.854z" /><path d="M5 7c0 .552-.448 0-1 0s-1 .552-1 0a1 1 0 0 1 2 0z" /></svg></a></p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    To
                </th>
                <th>
                    From
                </th>
                <th>
                    Subject
                </th>
                <th>
                    Recieved date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Mails)
            {
            <tr @{if (item.Status == (int)SmtpMailDam.Common.Enums.MailStatus.Unread) { <text>class="table-primary" style="font-weight: bold;"</text> } }>
                <td>
                    @Html.DisplayFor(modelItem => item.To)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiveDate)
                </td>
                <td>
                    <a asp-controller="Mail" asp-action="Details" asp-route-id="@item.MailId" class="btn btn-primary px-3" title="Details"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />    <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" /></svg></a> |
                    <a asp-controller="Mail" asp-action="Delete" asp-route-id="@item.MailId" class="btn btn-danger px-3" title="Delete"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-x-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">    <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" /></svg></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>