@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<SmtpMailDam.Website.Models.MailboxViewModel>

@{
}
<p>
    <a asp-action="Create" class="btn btn-primary">Create mailbox</a>
</p>
<h2>
    Mailboxes
</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MailboxId" asp-route-origin="Index" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MailboxId" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MailboxId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
