
@{
    ViewData["Title"] = "Mail Details";
}

@model SmtpMailDam.Website.Models.MailViewModel

<div>
    <h4>
        <a asp-controller="Mailbox" asp-action="Details" asp-route-id="@Model.MailboxId"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" /></svg></a>&nbsp;
        Mail
    </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiveDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReceiveDate)
        </dd>
    </dl>
</div>

<div>
    <p><a asp-action="GetMailMessageEml" asp-route-id="@Model.MailId" class="btn btn-primary px-3" title="Download message"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-text-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">    <path fill-rule="evenodd" d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z" /></svg></a></p>
</div>

<ul class="nav nav-tabs">
    <li class="nav-item"><a data-toggle="tab" class="nav-link active" href="#html">Html</a></li>
    <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#text">Text</a></li>
    <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#renderedhtml">Rendered html</a></li>
    <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#raw">Raw</a></li>
</ul>

<div class="tab-content" style="min-height:400px">
    <div id="html" class="tab-pane fade show active">
        <pre>@Html.Raw(Model.HtmlBody)</pre>
    </div>
    <div id="text" class="tab-pane fade">
        <pre>@Html.Raw(Model.TextBody)</pre>
    </div>
    <div id="renderedhtml" class="tab-pane fade">
        @Model.RenderedHtml
    </div>
    <div id="raw" class="tab-pane fade">
        <pre>@Html.Raw(Model.RawEmail)</pre>
    </div>
</div>
<hr />